In [246]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:/Users/zhangchi23/Desktop/10liushui.csv",encoding="gbk")

In [247]:
data = pd.read_csv("C:/Users/zhangchi23/Desktop/11liushui.csv",encoding="gbk")
a = 'NULL'
data['区域'] = data['区域'].fillna(a)
data['业务线'] = data['业务线'].fillna(a)

s = data['业务线'].value_counts()
s1 = list(s.index)
s1.remove('外部合作业务')
data1 = data[data.业务线.isin(s1)]
data1['1级部门名称'][(data1['1级部门名称'] != '电脑数码事业部') & (data1['1级部门名称'] != '家电事业部') & (data1['1级部门名称'] != '通讯事业部') & (data1['1级部门名称'] != '居家生活事业部')] = '电脑数码事业部'
data1['区域'][data1['区域'] == '总部' ] = 'NULL'
# data1.to_csv("D:/pytest/design/data666.csv", index=False, encoding='gbk')

c:\users\zhangchi23\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
c:\users\zhangchi23\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

c:\users\zhangchi23\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\zhangchi23\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [249]:
#得到 业务线×部门 交叉表
tj1 = data1.ix[:,['业务线', '1级部门名称', '金额']]
tj11 = pd.pivot_table(tj1,index = ['业务线'], columns=['1级部门名称'], values=['金额'], aggfunc = np.sum)
tj11.columns = ['家电事业部', '居家生活事业部', '电脑数码事业部', '通讯事业部']
tj11 = tj11.fillna(0)
a = tj11.loc['EPBU',:] + tj11.loc['NULL',:]
tj11.loc['EPBU',:] = a
s2 = ['EPBU', 'AMBU', 'OPBU', 'SIBU']
tj11 = tj11[tj11.index.isin(s2)]
tj11['达成'] = tj11['家电事业部'] + tj11['居家生活事业部'] + tj11['电脑数码事业部'] +tj11['通讯事业部']
tj11.loc['合计',:] = tj11.loc['EPBU',:] + tj11.loc['AMBU',:] + tj11.loc['OPBU',:] + tj11.loc['SIBU',:]

In [250]:
tj11/10000 #单位：万元

            家电事业部  居家生活事业部       电脑数码事业部       通讯事业部            达成
业务线
AMBU   929.378641    0.000   3254.641701  219.421800   4403.442142
EPBU  2568.909195    3.598   4965.144050  384.181338   7921.832583
OPBU  1114.422829    0.000   3896.145138  281.989317   5292.557284
SIBU   161.723475    0.000    124.127750   33.695703    319.546928
合计    4774.434140    3.598  12240.058639  919.288158  17937.378937

In [252]:
# 六大区域 × 品类 交叉表
tj2 = data1.ix[:,['区域', '1级部门名称', '金额']]
tj22 = pd.pivot_table(tj2,index = ['区域'], columns=['1级部门名称'], values=['金额'], aggfunc = np.sum)
tj22.columns = ['家电事业部', '居家生活事业部', '电脑数码事业部', '通讯事业部']
tj22 = tj22.fillna(0)
s3 = ['华北区', '华东区', '华南区', '西南区', '华中区', '东北区']
tj22 = tj22[tj22.index.isin(s3)]
tj22['达成'] = tj22['家电事业部'] + tj22['居家生活事业部'] + tj22['电脑数码事业部'] +tj22['通讯事业部']
tj22.loc['合计',:] = tj22.loc['华北区',:] + tj22.loc['华东区',:] + tj22.loc['华南区',:] + tj22.loc['西南区',:] + tj22.loc['华中区',:] + tj22.loc['东北区',:]

In [254]:
tj22/10000

           家电事业部  居家生活事业部      电脑数码事业部       通讯事业部           达成
区域
东北区    77.039993   1.6191   268.798553   39.369200   386.826846
华东区   354.144811   0.0000   954.718702    9.936400  1318.799913
华中区   157.220318   1.9789   266.485106    2.266400   427.950724
华北区   874.794759   0.0000  1763.106249   21.478958  2659.379966
华南区   908.534909   0.0000  1047.346878  295.758380  2251.640167
西南区   105.442866   0.0000   353.514493    3.636600   462.593959
合计   2477.177656   3.5980  4653.969981  372.445938  7507.191575

In [266]:
#EPBU 的 各区域 × 品类 交叉表
data_epbu = data1[data1.业务线.isin(['EPBU', 'NULL'])]
tj33 = pd.pivot_table(data_epbu ,index = ['区域'], columns=['1级部门名称'], values=['金额'], aggfunc = np.sum)
tj33.columns = ['家电事业部', '居家生活事业部', '电脑数码事业部', '通讯事业部']
tj33 = tj33.fillna(0)
tj33.rename(index={'NULL':'其他', '宿迁':'电销'}, inplace=True)
tj33['达成'] = tj33['家电事业部'] + tj33['居家生活事业部'] + tj33['电脑数码事业部'] +tj33['通讯事业部']
tj33.loc['合计',:] = np.sum(tj33)

In [268]:
tj33

           家电事业部  居家生活事业部      电脑数码事业部       通讯事业部           达成
区域
其他          0.00      0.0     44728.00        0.00     44728.00
东北区    770399.93  16191.0   2687985.53   393692.00   3868268.46
华东区   3541448.11      0.0   9547187.02    99364.00  13187999.13
华中区   1572203.18  19789.0   2664851.06    22664.00   4279507.24
华北区   8747947.59      0.0  17631062.49   214789.58  26593799.66
华南区   9085349.09      0.0  10473468.78  2957583.80  22516401.67
电销     917315.39      0.0   3067012.69   117354.00   4101682.08
西南区   1054428.66      0.0   3535144.93    36366.00   4625939.59
合计   25689091.95  35980.0  49651440.50  3841813.38  79218325.83

In [269]:
tj11/10000

            家电事业部  居家生活事业部       电脑数码事业部       通讯事业部            达成
业务线
AMBU   929.378641    0.000   3254.641701  219.421800   4403.442142
EPBU  2568.909195    3.598   4965.144050  384.181338   7921.832583
OPBU  1114.422829    0.000   3896.145138  281.989317   5292.557284
SIBU   161.723475    0.000    124.127750   33.695703    319.546928
合计    4774.434140    3.598  12240.058639  919.288158  17937.378937

In [276]:
tj11

            家电事业部  居家生活事业部       电脑数码事业部       通讯事业部            达成        占比
业务线
AMBU   9293786.41      0.0  3.254642e+07  2194218.00  4.403442e+07  0.245490
EPBU  25689091.95  35980.0  4.965144e+07  3841813.38  7.921833e+07  0.441638
OPBU  11144228.29      0.0  3.896145e+07  2819893.17  5.292557e+07  0.295057
SIBU   1617234.75      0.0  1.241277e+06   336957.03  3.195469e+06  0.017815
合计    47744341.40  35980.0  1.224006e+08  9192881.58  1.793738e+08  1.000000

In [324]:

import datetime
today = datetime.date.today()
year = today.year
month = today.month
day = today.day
#计算各通路占比
tj12 = tj11.copy() #为了不改变原数据，故复制一份tj12
tj12['占比'] = tj12['达成'] / tj12.loc['合计', '达成']
ambu = round(tj12.loc['AMBU', '占比'] *100)
opbu = round(tj12.loc['OPBU', '占比'] *100)
epbu = round(tj12.loc['EPBU', '占比'] *100)
sibu = round(tj12.loc['SIBU', '占比'] *100)
print("截至%d月%d日，%d月各通路销售占比分别为：线上%d%%，平台%d%%"%(month, day, month, ambu + opbu, epbu + sibu))
#计算各区域占比
tj22_copy = tj22.copy()
tj22_copy['占比'] = tj22_copy['达成']/tj22_copy.loc['合计', '达成']
dongbei = round(tj22_copy.loc['东北区', '占比']*100)
huadong = round(tj22_copy.loc['华东区', '占比']*100)
huazhong = round(tj22_copy.loc['华中区', '占比']*100)
huabei = round(tj22_copy.loc['华北区', '占比']*100)
huanan = round(tj22_copy.loc['华南区', '占比']*100)
xinan = round(tj22_copy.loc['西南区', '占比']*100)
print("截至%d月%d日，%d月各区域销售占比分别为：华北%d%%，华东%d%%，华南%d%%，西南%d%%，华中%d%%，东北%d%%"%(month, day, month, huabei, huadong, huanan, xinan, huazhong, dongbei))

截至11月14日，11月各通路销售占比分别为：线上55%，平台46%
截至11月14日，11月各区域销售占比分别为：华北35%，华东18%，华南30%，西南6%，华中6%，东北5%

In [321]:
#计算各品类占比

截至11月13日，11月各区域销售占比分别为：华北35%，华东18%，华南30%，西南6%，华中6%

In [320]:
tj22

           家电事业部  居家生活事业部      电脑数码事业部       通讯事业部           达成        占比
区域
东北区    770399.93  16191.0   2687985.53   393692.00   3868268.46  0.051528
华东区   3541448.11      0.0   9547187.02    99364.00  13187999.13  0.175672
华中区   1572203.18  19789.0   2664851.06    22664.00   4279507.24  0.057005
华北区   8747947.59      0.0  17631062.49   214789.58  26593799.66  0.354244
华南区   9085349.09      0.0  10473468.78  2957583.80  22516401.67  0.299931
西南区   1054428.66      0.0   3535144.93    36366.00   4625939.59  0.061620
合计   24771776.56  35980.0  46539699.81  3724459.38  75071915.75  1.000000

In [306]:
today.day

14